{% extends "frontEnd/partitions/layout.html" %}
{% block body %}
<section class="breadcrumb">
    <div class="container">
        <div class="page-title-inner">
            <div class="float-left">
                <h1 class="page-title">News</h1>
            </div>
            <div class="float-right">
                <div id="breadcrumb-menu" class="breadcrumb-menu">
                    <a href="javascript:void(0)">Home</a>
                    <span class="current">News</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ptb-50">
    <div class="container">
        <ul class="nav nav-tabs text-center portfolio" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#All" role="tab" aria-controls="home" aria-selected="true">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Agriculture" role="tab" aria-controls="profile" aria-selected="false">Agriculture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Chemical" role="tab" aria-controls="contact" aria-selected="false">Chemical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Material" role="tab" aria-controls="contact" aria-selected="false">Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Mechanical" role="tab" aria-controls="contact" aria-selected="false">Mechanical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#gas" role="tab" aria-controls="contact" aria-selected="false">Oil & Gas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#power_energy" role="tab" aria-controls="contact" aria-selected="false">Power Energy</a>
            </li>
          </ul>
          <div class="tab-content mt-5 lightbox-gallery" id="myTabContent">
            <div class="tab-pane fade show active " id="All" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Oil &amp; Gas 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/oil_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="/front/details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/oil_2-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Oil &amp; Gas 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/oil_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/oil_1-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Power Energy 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/energy_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/energy_2-1170x694-390x231.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Power Energy 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/energy_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/energy_1-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article>
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Mechanical 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/mechanical-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/mechanical-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Mechanical 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/mechanical_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/mechanical_1-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Material 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/material_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/material_2-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Material 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/material_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/material_1-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Chemical 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/chemical_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/chemical_2-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Chemical 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/chemical_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="/front/details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/chemical_1-1170x694.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Agriculture 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/agriculture_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/agriculture_2-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Agriculture 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/agriculture_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/agriculture_1-1170x694.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Agriculture" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Agriculture 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/agriculture_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/agriculture_2-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Agriculture 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/agriculture_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/agriculture_1-1170x694.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Chemical" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Chemical 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/chemical_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/chemical_2-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Chemical 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/chemical_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/chemical_1-1170x694.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>                        
                </div>
            </div>
            <div class="tab-pane fade" id="Material" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Material 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/material_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/material_2-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Material 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/material_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/material_1-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Mechanical" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article>
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Mechanical 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/mechanical-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/mechanical-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Mechanical 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/mechanical_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/mechanical_1-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="gas" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Oil &amp; Gas 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/oil_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/oil_2-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Oil &amp; Gas 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/oil_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/oil_1-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="power_energy" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Power Energy 2</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/energy_2-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/energy_2-1170x694-390x231.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-0">
                        <article class="photos">
                            <div class="portfolio-wrap mb-0">
                                <div class="portfolio-img portfolio-overlay-wrap">
                                    <div class="portfolio-overlay overlay-center">
                                        <div class="portfolio-title">
                                            <h3>
                                                <a href="#" target="_blank">Power Energy 1</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-categories">
                                            <span>There are many variations of passages of Lorem Ipsum available, but the majority</span>
                                        </div>
                                        <div class="portfolio-icons">
                                            <a href="/front/image/energy_1-1170x694.jpg" data-lightbox="photos" class="image-gallery-link zoom-icon">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="details.html" class="link-icon" target="_blank">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-gallery-link">
                                        <img width="440" height="260" src="/front/image/energy_1-1170x694-440x260.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block Jscript %}

{% endblock %}