<!DOCTYPE html>
<html lang="en">
{% include "frontEnd/partitions/head.html" %}
<body>
    {% include "frontEnd/partitions/header.html" %}
    <main class="contact-us-pg">
        <section class="inner-top-banner-sec">
            <div class="container">
                <div class="col-md-12 pl-sm-3 pr-sm-3 pl-0 pr-0">
                    <div class="head-title-wrp text-center" data-aos="fade-in" data-aos-offset="0">
                        <h1 class="shadow-title " >contact us</h1>
                        <p class="heading animated" data-aos="zoom-in" data-aos-offset="0">HOW CAN WE HELP YOU?</p>
                    </div>
                    <div class="mid-sap">
                        <span class="ract-sp animated fadeIn slower"></span>
                        <span class="eqlip-sp animated infinite slideDown"  data-aos="fade-down"
                        data-aos-easing="linear"
                        data-aos-duration="1500" data-aos-offset="0"></span>
                    </div>

                </div>

            </div>
        </section>
        <section class="vid-bnr-sec">
            <div class="overlay"></div>
            <div class="vid-wrap">
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="/front/video/contact-us-video.mp4" type="video/mp4">
                </video>
                <div class="contact-inr-detail">
                    <div class="container">
                        <p class="p-txt" data-aos="zoom-in" data-aos-offset="0">Our team is here to answer any question you might have <br>
                            about chemical dyes. Feel free to drop in your inquiry.</p>
                            <div class="row">
                                <div class="col-xl-4 col-md-4 col-sm-12">
                                    <div class="contact-info" data-aos="fade-right" data-aos-offset="0">
                                        <div class="icon-img">
                                            <img src="/front/img/map-indicator-icon.png" alt="">
                                        </div>
                                        <div class="detail">
                                            <p>
                                                123 Fifth Avenue, <br>
                                                abd,def, ghijklmno
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <div class="contact-info" data-aos="fade-down" data-aos-offset="0">
                                        <div class="icon-img">
                                            <img src="/front/img/phone-icon.png" alt="">
                                        </div>
                                        <div class="detail">
                                            <a href="tel:+91123456789">+91 123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <div class="contact-info" data-aos="fade-left" data-aos-offset="0">
                                        <div class="icon-img">
                                            <img src="/front/img/mail-icon.png" alt="">
                                        </div>
                                        <div class="detail">
                                            <a href="mailto:info@ushanti.com"> info@ushanti.com</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="inner-top-banner-sec contact-form-sec mt-0">
            <div class="container">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 pl-lg-3 pl-0 pr-lg-3 pr-0">
                    <div action="" class="contact-form" data-aos="fade-up"
                    data-aos-duration="1500" data-aos-offset="0">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                <div class="card-heading">
                                    <p>INQUIRE NOW</p>
                                </div>
                            </div>
                                <div class="form-group">
                                    <label for="" class="color-1">Your Name (Required) </label>
                                    <input type="text" name="lead_name" id="lead_name" class="form-control b-c-1">
                                </div>
                                <div class="form-group">
                                    <label for="" class="color-2">Your Email (Required)  </label>
                                    <input type="email" name="email_id" id="email_id" class="form-control b-c-2">
                                </div>
                                <div class="form-group">
                                    <label for="" class="color-3">Subject  </label>
                                    <input type="text" name="source" id="source" class="form-control b-c-3">
                                </div>
                                <div class="form-group">
                                    <label for="" class="color-4">Your Message  </label>
                                   <textarea name="notes" id="notes" cols="30" rows="3" class="form-control b-c-4"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="send-btn" id="inQuireNow"> send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="track-order-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <div class="header-title" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1200" data-aos-offset="0">
                        <span class="icon-img"><img src="/front/img/search-icon.png" alt=""></span> TRACK YOUR ORDER
                    </div>

                    <div class="trk-ordr-form" >
                        <div class="form-group">
                            <label for="Enter order pin" class="label">Enter order pin</label>
                            <input type="text" name="orderPin" id="orderPin" class="form-control">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </section>


        <div class="modal fade" id="interModal" tabindex="-1" role="dialog" aria-labelledby="interModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-image: url(front/img/news-event-top-bg.png);">
              <div class="modal-header border-0 text-center">
                <h5 class="modal-title w-100"> Track your Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="padding: 3rem;">
                <input type="hidden" name="trackOrderId" id="trackOrderId" value="">
                <label for="password">Password</label>
                <input type="password" name="passwordTrack" id="passwordTrack" >
                <div id="orderStatus"></div>
              </div>
              <div class="modal-footer border-0">
                <button type="button" id="trackOrderSubmit" class="btn btn-secondary">Submit</button>
              </div>
            </div>
          </div>
        </div>


    </main>
    {% include "frontEnd/partitions/footer.html" %}
    <script>
        $(document).ready(function() {
         AOS.init({
           // startEvent: 'load',
           offset: 250,
           duration: 1000,
           easing: 'ease-in-sine',
           delay: 50,
           disableMutationObserver: true,
           throttleDelay: 0,
           debounceDelay: 0,
           once: false,
           mirror: true,
           startEvent: 'DOMContentLoaded'
           });
        });

        $("#orderPin").keyup(function(event) {
            // console.log("key", event.keyCode)
            if (event.keyCode === 13) {
              let trackingId = $("#orderPin").val();
              $('#interModal').modal('show');
              $('#trackOrderId').val(trackingId)
              $('#orderStatus').html('')
                // var password = prompt("Please enter password:", "");
                // if (password == null || password == "") {
                //     pwd = "";
                // } else {
                //     pwd = password ;
                // }

            }
        });

        $("#trackOrderSubmit").click(function(){
          var host = window.location.origin;
          var trackingId = $('#trackOrderId').val();;
          var pwd = $('#passwordTrack').val();;
          if(pwd != ""){
              // alert(password)

              $.ajax({
                  type: 'POST',
                  url: host + "/order/trackOrder",
                  data: {trackingId: trackingId, pwd: pwd},
                  success: function(resultData) {
                    // alert(resultData)
                    console.log(resultData);
                    $('#orderStatus').html(resultData)
                  }
              });



          }
        });

        $('#inQuireNow').click(function(){

            let name    = $('#lead_name').val();
            let email   = $('#email_id').val();
            let subject = $('#source').val();
            let message = $('#notes').val();
            var raw = JSON.stringify({"lead_name":name,"company_name":"Test company","territory":"India","email_id":email, "subject": subject,"source":"Website","mobile_no":"9856987896","gender":"Male","notes":message});

            var settings = {
                "async": true,
                "crossDomain": true,
                // "url": "https://fdsferp.ushantdfsdfdi.com/api/resource/Leadfsdfsdf",
                "url": "https://erp.ushanti.com/api/resource/Lead",
                "data": raw,
                "method": "POST",
                "headers": {
                    "Authorization"    : "token 78f190ddade1d2e:620d266e1b327f1",
                    "Content-Type"     : "application/json",
                    "Accept-Charset"   : "UTF-8",
                    "Cookie"           : "sid=Guest; system_user=yes; full_name=Guest; user_id=Guest; user_image="
                }
            }
            console.log('raw', raw);
            $.ajax(settings).done(function (response) {
            console.log(response);
            });
        });



   </script>
</body>
</html>
