<!DOCTYPE html>
<html lang="en">
{% include "frontEnd/partitions/head.html" %}
<body>
    {% include "frontEnd/partitions/header.html" %}
    <main class="product-pg">
        <section class="inner-top-banner-sec">
            <div class="container">
                <div class="col-md-12 pl-sm-3 pr-sm-3 pl-0 pr-0">
                    <div class="head-title-wrp text-center" data-aos="fade-in" data-aos-offset="0">
                        <h1 class="shadow-title " >Products</h1>
                        <p class="heading animated" data-aos="zoom-in" data-aos-offset="0">MAKING THE WORLD MORE COLOURFUL</p>
                    </div>
                    <div class="mid-sap">
                        <span class="ract-sp animated fadeIn slower"></span>
                        <span class="eqlip-sp animated infinite slideDown"  data-aos="fade-down"
                        data-aos-easing="linear"
                        data-aos-duration="1500" data-aos-offset="0"></span>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-list-card">
            <div class="vid-wrap">
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="front/video/products.mp4" type="video/mp4">
                </video>
                <div class="container">
                    <div class="p-card-row">
                        <div class="p-card lighter-accent" data-aos="fade-right" data-aos-offset="0" data-aos-easing="linear" data-aos-duration="1300" data-toggle="modal" data-target="#pigmentModal">
                            <div class="product-img">
                               <video playsinline="playsinline"  muted="muted" loop="loop" class="prodctvideo">
                                    <source src="/front/video/pigment-addctive.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="pr-nm">
                                <h5 class="nm">PIGMENTS & ADDITIVES</h5>
                            </div>
                            <div class="pr-dec">
                                <p>Abc def ghijkl mno pqr stu vxyz</p>
                            </div>
                            <div class="btn-wrp">
                                <a href="#" class="viw-rng-btn">View Range</a>
                            </div>
                        </div>
                        <div class="p-card primary-accent" data-aos="zoom-in" data-aos-offset="0" data-toggle="modal" data-target="#dyeModal">
                            <div class="product-img">
                                <img src="/front/img/product-dyes.png" alt="" class="w-100">
                            </div>
                            <div class="pr-nm">
                                <h5 class="nm">DYES</h5>
                            </div>
                            <div class="pr-dec">
                                <p>Abc def ghijkl mno pqr stu vxyz</p>
                            </div>
                            <div class="btn-wrp">
                                <a href="#" class="viw-rng-btn">View Range</a>
                            </div>
                        </div>
                        <div class="p-card primary-blue" data-aos="fade-left" data-aos-offset="0" data-aos-easing="linear" data-aos-duration="1300" data-toggle="modal" data-target="#interModal">
                            <div class="product-img">
                                 <video playsinline="playsinline"  muted="muted" loop="loop" class="prodctvideo">
                                    <source src="/front/video/Intermediates.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="pr-nm">
                                <h5 class="nm">INTERMEDIATES</h5>
                            </div>
                            <div class="pr-dec">
                                <p>Abc def ghijkl mno pqr stu vxyz</p>
                            </div>
                            <div class="btn-wrp">
                                <a href="#" class="viw-rng-btn">View Range</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ind-we-srv">
            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="heading">
                            <p>INDUSTRIES WE SERVE</p>
                        </div>
                    </div>
                    <ul class="ind-serv-list">
                        <li data-aos="fade-down" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/cotton.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>Cotton</p>
                            </div>
                        </li>
                        <li data-aos="fade-down" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/wool.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>wool</p>
                            </div>
                        </li>
                        <li data-aos="fade-down" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/leather.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>leather</p>
                            </div>
                        </li>
                        <li data-aos="fade-down" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/Nylon.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>nylon</p>
                            </div>
                        </li>
                        <li data-aos="fade-down" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/paper.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>paper</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/wood.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>wood</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/plastic.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>plastic</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/paint.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>paint</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-offset="0">
                            <div class="ind-img">
                                <img src="/front/img/ink.png" alt="">
                            </div>
                            <div class="ind-nm">
                                <p>ink</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </section>

    </main>
    <!-- Modal -->
    <div class="modal fade" id="pigmentModal" tabindex="-1" role="dialog" aria-labelledby="pigmentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-image: url(front/img/news-event-top-bg.png);">
          <div class="modal-header border-0 text-center">
            <h5 class="modal-title w-100" id="pigmentModalLabel">Pigment & Addiitives</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding: 3rem;">
            <ul>
              {% for pigment in pigments %}
                <li style="padding-bottom: 5px;">
                  <a href="/productDetails/{{pigment._id}}" class="text-dark">{{pigment.name}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="dyeModal" tabindex="-1" role="dialog" aria-labelledby="dyeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-image: url(front/img/news-event-top-bg.png);">
          <div class="modal-header border-0 text-center">
            <h5 class="modal-title w-100" id="dyeModalLabel">Dyes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding: 3rem;">
            <ul>
              {% for dye in dyes %}
                <li style="padding-bottom: 5px;">
                  <a href="/productDetails/{{dye._id}}" class="text-dark">{{dye.name}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="interModal" tabindex="-1" role="dialog" aria-labelledby="interModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-image: url(front/img/news-event-top-bg.png);">
          <div class="modal-header border-0 text-center">
            <h5 class="modal-title w-100" id="interModalLabel">Intermediates</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding: 3rem;">
            <ul>
              {% for intermediate in intermediates %}
                <li style="padding-bottom: 5px;">
                  <a href="/productDetails/{{intermediate._id}}" class="text-dark">{{intermediate.name}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    {% include "frontEnd/partitions/footer.html" %}
    <script>
         $(document).ready(function() {
          AOS.init({
            // startEvent: 'load',
            offset: 250,
            duration: 1000,
            easing: 'ease-in-sine',
            delay: 50,
            disableMutationObserver: true,
            throttleDelay: 0,
            debounceDelay: 0,
            once: false,
            mirror: true,
            startEvent: 'DOMContentLoaded'
            });
        });

        $(document).ready(function() {
            var figure = $(".p-card").hover( hoverVideo, hideVideo );

            function hoverVideo(e) {
                $('.prodctvideo', this).get(0).play();
            }

            function hideVideo(e) {
                $('.prodctvideo', this).get(0).pause();
            }

         });

    </script>
</body>
</html>
