{% extends "partition/layout.html" %}


{% block body %}


<!-- Main Content -->
<div class="page-wrapper">
	<div class="container-fluid">

		<!-- Title -->
		<section class="content-header">
			<h1>Project Category</h1>
			<!-- Breadcrumb -->
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				<!-- <li><a href="/listCategory">Categories</a></li> -->
				<li class="active">Project Category</li>
			</ol>
			<!-- /Breadcrumb -->
		</section>
		<!-- /Title -->
		{% include "partition/notification.html" %}
		<!-- Row -->
		<section class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<!-- <h6 class="panel-title txt-dark">Settings</h6> -->
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<div class="table-wrap">
									<div class="table-responsive">
										{% if projectCategory %}
										<form method="POST" action="/backend/projectCategoryEdit/{{projectCategory._id}}" class="form-horizontal" enctype="multipart/form-data">
										{% else %}
										<form method="POST" action="/backend/addProjectCategory" class="form-horizontal" enctype="multipart/form-data">
										{% endif %}
												<table border="0" class="table display  pb-30">
													<div class="col-sm-12">
														<div class="panel-wrapper collapse in">
															<div class="panel-body">
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="projectCategoryName">Project Category Name:</label>
																	<div class="col-sm-6">
																		<input type="text" class="form-control" name="projectCategoryName" id="projectCategoryName" value="{{projectCategory.projectCategoryName}}" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<tr>
														<td colspan="2">
                             
															{% if projectCategory %}
															<input type="submit" class="btn btn-success btn-flat" value="Update">
                                                            {%else%} 
															<input type="submit" class="btn btn-success btn-flat" value="submit">
															{% endif %}
														</td>
													</tr>
												</table>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

					<!-- /Row -->
			</div>
	 	</section>

{% endblock %}

{% block Jscript %}


{% endblock %}
