{% extends "partition/layout.html" %}


{% block body %}


<!-- Main Content -->
<div class="page-wrapper">
	<div class="container-fluid">

		<!-- Title -->
		<section class="content-header">
			<h1>News</h1>
			<!-- Breadcrumb -->
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				<li class="active">News</li>
			</ol>
			<!-- /Breadcrumb -->
		</section>
		<!-- /Title -->
		{% include "partition/notification.html" %}
		<!-- Row -->
		<section class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<!-- <h6 class="panel-title txt-dark">Settings</h6> -->
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">

								<div class="table-wrap">
									<div class="table-responsive">
										{% if news %}
										<form method="POST" action="/backend/newsEdit/{{news._id}}" class="form-horizontal" enctype="multipart/form-data">
										{% else %}
										<form method="POST" action="/backend/addNews" class="form-horizontal" enctype="multipart/form-data">
										{% endif %}
												<table border="0" class="table display  pb-30">
													<div class="col-sm-12">
														<div class="panel-wrapper collapse in">
															<div class="panel-body">

																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="image">News cover pic:</label>
																	<div class="col-sm-6">
																		{% if news %}

																		<input type="file" class="form-control" onchange="previewFile(this);" id="newsImage" name="newsImage" value="">
																		<br>
																		<img id="previewImg"src="{{news.image}}" height="200px"
																			width="200px" alt=""required><span class='close1'>&times;</span>

																		{% else %}
																		<input type="file" class="form-control"onchange="previewFile(this);"
																		id="newsImage" name="newsImage" required
																			value="">

																		<br><img style="display: none;" id="previewImg" src="{{news.image}}" height="200px"
																			width="200px" alt=""><span style="display: none;" class='close1'>&times;</span>


																		{% endif %}
																		<!-- {% if news %}

																		<input type="file" class="form-control" id="newsImage" name="newsImage" value="{{news.image}}" >

																		<br><img src= "{{news.image}}" height="200px" width="200px" alt="{{news.image}}">

																		{% else %}
																		<input type="file" class="form-control" id="newsImage" required  name="newsImage" value="{{news.image}}">

																		{% endif %} 	 -->
																	</div>
																</div>
                                <div class="form-group">
                                  <label class="control-label mb-10 col-sm-2" for="name">Title:</label>
                                  <div class="col-sm-6">
                                      <input type="text" class="form-control" name="title" id="title" value="{{news.title}}" />
                                  </div>
                                </div>

																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="description">Description:</label>
																	<div class="col-sm-6">
																		<textarea class="form-control" name="description" id="description" rows="8" cols="80" style="resize:none;">{{news.description}}</textarea>
																	</div>
																</div>
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="date">Date:</label>
																	<div class='col-sm-6'>
																		<input type='date' class="form-control" name="newsDate" id="newsDate" value="{{news.date}}" />
																	</div>
																</div>
                                                                <!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="date">Date:</label>
																	<div class="col-sm-6">
																		<input type="text" class="form-control" name="date" id="date" value="{{news.date}}" />
																	</div>
																</div> -->

																<!-- <div class="form-group">
																		<label class="control-label mb-10 col-sm-2" for="categoryName">Choose a category:</label>

																			<select id="categoryName" name="categoryName">
																				{% for categoryName in categoryData %}
																					<option value="{{categoryName._id}}" {{"selected" if(categoryName._id == application.category_id)}} >{{categoryName.categoryName}}</option>
																				{% endfor %}
																			</select>

																	</form>
																</div> -->

															</div>
														</div>
													</div>
													<tr>
														<td colspan="2">

															{% if news %}
															<input type="submit" class="btn btn-success btn-flat" value="Update">
                                                            {% else %}
															<input type="submit" class="btn btn-success btn-flat" value="submit">
															{% endif %}
														</td>
													</tr>
												</table>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

					<!-- /Row -->
			</div>
	 	</section>

{% endblock %}

{% block Jscript %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
	 function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];

        if(file){
            var reader = new FileReader();

            reader.onload = function(){
                $("#previewImg").attr("src", reader.result);
				$("#previewImg").css({'display':'block'});
				$(".close1").css({'display':'block'});
            }

            reader.readAsDataURL(file);
        }
    }
	$(".close1").click(function () {
            $('#previewImg').css({'display':'none'});
            $('.close1').css({'display':'none'});
            // modal1.style.display = "none";
        });

		$(function() {
			// Date only
				$('#dp1').datetimepicker({
					format: 'L'
				});
			});
</script>


{% endblock %}
