<header class="main-header">

    <!-- Logo -->
    <a href="dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img class="brand-img mr-10" src="/dist/img/logo.png" alt="brand" width="50px" height="50px" /></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
      ALFA PUMPS
      </span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if session.role == 'admin'%}
              <img src="/profile/{{session.avatar}}" class="img-circle" alt="User Image" width="50px" height="50px">
              {%else%}
              <img src="/profile/agents/{{session.avatar}}" class="img-circle" alt="Agent Image" width="50px" height="50px" >
              {%endif%}

              <span class="">{{session.name}} &nbsp;&nbsp;</span>
            </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            {% if session.role == 'admin'%}
                            <img src="/profile/{{session.avatar}}" class="img-circle" alt="User Image" width="50px" height="50px"> {%else%}
                            <img src="/profile/agents/{{session.avatar}}" class="img-circle" alt="Agent Image" width="50px" height="50px"> {%endif%}


                            <p>
                                {{session.name}}
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                {% if session.role == 'admin'%}
                                <a href="/profile" class="btn btn-default btn-flat">Profile</a> {%else%}
                                <a href="/agent/profile" class="btn btn-default btn-flat">Profile</a> {%endif%}
                            </div>
                            <div class="pull-right">
                                <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!-- <li>
                    <a href="/settings"><i class="fa fa-gears"></i></a>
                </li> -->
            </ul>
        </div>

    </nav>
</header>
