<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                {% if session.role == 'admin'%}
                <img src="/profile/{{session.avatar}}" class="img-circle" alt="User Image" width="50px" height="50px"> {%else%}
                <img src="/profile/agents/{{session.avatar}}" class="img-circle" alt="Agent Image" width="50px" height="50px"> {%endif%}

            </div>
            <div class="pull-left info">
                <p>{{session.name}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            {% if session.role == 'admin'%}
            <!-- <li class="{{classActive}}">
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="{{studentListing}}">
                <a href="/backend/student">
                    <i class="fa fa-circle-o"></i> <span>Student List</span>
                </a>
            </li>
            <li class="{{affiliateListing}}">
                <a href="/backend/affiliate">
                    <i class="fa fa-circle-o"></i> <span>Affiliate List</span>
                </a>
            </li>
            <li class="{{courseActive}}">
                <a href="/backend/courses">
                    <i class="fa fa-circle-o"></i> <span>Course Management</span>
                </a>
            </li>
            <li class="{{pendingInstructors}}">
                <a href="/backend/pendingInstructors">
                    <i class="fa fa-circle-o"></i> <span>Instructor Request</span>
                </a>
            </li>
            <li class="{{studentApplicationListing}}">
                <a href="/backend/applicationRequest">
                    <i class="fa fa-circle-o"></i> <span>Student Application Request</span>
                </a>
            </li>
            <li class="{{studentApplicationListing}}">
                <a href="/backend/courseFeesRequest">
                    <i class="fa fa-circle-o"></i> <span>Course Payment Request</span>
                </a>
            </li>
            <li class="{{blogActive}}">
                <a href="/backend/blog">
                    <i class="fa fa-circle-o"></i> <span>Blog</span>
                </a>
            </li>   -->
            <li class="{{home}}">
                <a href="/backend/home">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>
            <li class="{{aboutUs}}">
                <a href="/backend/addAboutData">
                    <i class="fa fa-info-circle"></i> <span>About Us</span>
                </a>
            </li>
            <li class="{{product}}">
                <a href="/backend/product">
                    <i class="fa fa-product-hunt"></i> <span>Product Category</span>
                </a>
            </li>
            <li class="{{productCategory}}">
                <a href="/backend/productCategory">
                    <i class="fa fa-product-hunt"></i> <span>Product </span>
                </a>
            </li>
            <li class="{{ourTeam}}">
                <a href="/backend/ourTeam">
                    <i class="fa fa-group"></i> <span>Our Team</span>
                </a>
            </li>
            <li class="{{ourTestimonials}}">
                <a href="/backend/ourTestimonials">
                    <i class="fa fa-indent"></i><span>Our Testimonials</span>
                </a>
            </li>
            <li class="{{researchAndDevelopment}}">
                <a href="/backend/addResearchAndDevelopmentData">
                    <i class="fa fa-gears"></i><span>Research And Development</span>
                </a>
            </li>
            <li class="{{application}}">
                <a href="/backend/application">
                    <i class="fa fa-joomla"></i> <span>Application</span>
                </a>
            </li>
            
            <li class="{{category}}">
                <a href="/backend/category">
                    <i class="fa fa-object-group"></i><span>Application Category</span>
                </a>
            </li>
            <li class="{{FactoryTour}}">
                <a href="/backend/factorytour">
                    <i class="fa fa-industry"></i> <span>FactoryTour</span>
                </a>
            </li>
            <li class="{{news}}">
                <a href="/backend/news">
                    <i class="fa fa-newspaper-o"></i> <span>News</span>
                </a>
            </li>
            <li class="{{project}}">
                <a href="/backend/project">
                    <i class="fa fa-tasks"></i> <span>Project</span>
                </a>
            </li>
            <li class="{{projectCategory}}">
                <a href="/backend/projectCategory">
                    <i class="fa fa-outdent"></i><span>Project Category</span>
                </a>
            </li>
            <li class="{{casestudies}}">
                <a href="/backend/casestudies">
                    <i class="fa fa-newspaper-o"></i> <span>Case Studies</span>
                </a>
            </li>
            <li class="{{region}}">
                <a href="/backend/region">
                    <i class="fa fa-envelope"></i> <span>Contact Us</span>
                </a>
            </li>
            <li class="{{profileType}}">
                <a href="/backend/profileType">
                    <i class="fa fa-user"></i> <span>Profile Type</span>
                </a>
            </li>
            <!-- <li class="{{roleManagement}}">
                <a href="/backend/roleManagement">
                    <i class="fa fa-circle-o"></i> <span>Role Management</span>
                </a>
            </li> -->
            {% endif %}

            <!-- {% if session.role == 'custom'%}
              <li class="{{classActive}}">
                  <a href="/dashboard">
                      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                  </a>
              </li>
              {% if session.access.studentList == 'true' %}
                <li class="{{studentListing}}">
                    <a href="/backend/student">
                        <i class="fa fa-circle-o"></i> <span>Student List</span>
                    </a>
                </li>
              {% endif %}

              {% if session.access.affiliateList == 'true' %}
                <li class="{{affiliateListing}}">
                    <a href="/backend/affiliate">
                        <i class="fa fa-circle-o"></i> <span>Affiliate List</span>
                    </a>
                </li>
              {% endif %}

              {% if session.access.courseManagement == 'true' %}
                <li class="{{courseActive}}">
                    <a href="/backend/courses">
                        <i class="fa fa-circle-o"></i> <span>Course Management</span>
                    </a>
                </li>
              {% endif %}

              {% if session.access.instructorRequest == 'true' %}
                <li class="{{pendingInstructors}}">
                    <a href="/backend/pendingInstructors">
                        <i class="fa fa-circle-o"></i> <span>Instructor Request</span>
                    </a>
                </li>
              {% endif %}

              {% if session.access.studentApplicationRequest == 'true' %}
                <li class="{{studentApplicationListing}}">
                    <a href="/backend/applicationRequest">
                        <i class="fa fa-circle-o"></i> <span>Student Application Request</span>
                    </a>
                </li>
              {% endif %}

              {% if session.access.coursePaymentRequest == 'true' %}
                <li class="{{studentApplicationListing}}">
                    <a href="/backend/courseFeesRequest">
                        <i class="fa fa-circle-o"></i> <span>Course Payment Request</span>
                    </a>
                </li>
              {% endif %}

              {% if session.access.blog == 'true' %}
                <li class="{{blogActive}}">
                    <a href="/backend/blog">
                        <i class="fa fa-circle-o"></i> <span>Blog</span>
                    </a>
                </li>
             {% endif %} -->

              {% if session.access.about == 'true' %}
              <li class="{{aboutUs}}">
                  <a href="/backend/about">
                      <i class="fa fa-circle-o"></i> <span>About Us</span>
                  </a>
              </li>
             {% endif %}
             {% if session.access.researchAndDevelopment == 'true' %}
             <li class="{{researchAndDevelopment}}">
                 <a href="/backend/researchAndDevelopment">
                     <i class="fa fa-circle-o"></i> <span>Research And Development</span>
                 </a>
             </li>
            {% endif %}

            {% endif %}



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
