<div class="top-header chemoro1 clearfix">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/front/image/logo.png">
      </a>
    </div>
    <ul class="header-info">
      <li>
        <div class="media">
          <i class="fas fa-map-marker-alt"></i>
          <div class="media-body">
            <h6 class="mt-0 text-uppercase">No. 12 Julius Ave,</h6>
            North Ryde, Australia.
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <i class="far fa-clock"></i>
          <div class="media-body">
            <h6 class="mt-0 text-uppercase">Monday-Friday: 9am to 5pm</h6>
            Saturday / Sunday: Closed
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <i class="fas fa-microphone"></i>
          <div class="media-body">
            <h6 class="mt-0 text-uppercase">( 123) 456 -7890</h6>
            <a href="javascript:void(0)">info@example.com</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<style>
  /* .chemoro1 {
    background: linear-gradient(98.29deg, #1B315F 22.38%, #87C140 112.81%) !important;

  } */
</style>
<header class="sticky-top">
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/front/image/logo.png" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-trigger="#main_nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <div class="offcanvas-header mt-3">
          <span class="btn-close text-right pr-4 pb-4"> &times</span>
        </div>
        <ul class="navbar-nav" id="myUL">
          <li class="nav-item">
            <a class="nav-link {{home}}" href="/">Home</a>
            <!-- <a class="nav-link" href="/home">Home</a> -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link {{about}}{{ourTeamActive}}{{researchDevelopment}}{{factorytour}}{{ourTestimonials}}"
              href="javascript:void(0)">About Us</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item {{about}}" href="/aboutus">Introduction </a></li>
              <li><a class="dropdown-item {{ourTeamActive}}" href="/ourTeam">Our Team</a></li>
              <li><a class="dropdown-item {{researchDevelopment}}" href="/researchDevelopment">R&D</a></li>
              <li><a class="dropdown-item {{factorytour}}" href="/factory-tour">Factory Tour</a></li>
              <li><a class="dropdown-item {{ourTestimonials}}" href="/ourTestimonials">Our Testimonials</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown ">
            <a class="nav-link {{products}}{{productdetails}}{{productCategoryDetails}}"
              href="javascript:void(0)">Products</a>
            <!-- <a class="nav-link" href="javascript:void(0)">Products</a> -->

            <ul class="dropdown-menu {{products}}{{productdetails}}{{productCategoryDetails}}">
              {% for productCategory in productCategoryData %}
              {% if(productCategory.is_separateCategory == "true")%}
              <li class="dropdown-submenu {{products}}{{productdetails}}{{productCategoryDetails}}">
                {% if(productCategory.productCategoryName == singleProductCategoryData)%}
                <a class="dropdown-item dropdown-toggle {{productdetails}} "
                  href="javascript:void(0)">{{productCategory.productCategoryName}}</a>
                {% else %}
                <a class="dropdown-item dropdown-toggle"
                  href="javascript:void(0)">{{productCategory.productCategoryName}}</a>
                {% endif %}
                {% else %}
                {% if(productCategory.productCategoryName == singleProductCategoryDetails.productCategoryName)%}
              <li class="dropdown-submenu"><a class="dropdown-item {{productCategoryDetails}}"
                  href="/separateproductcategory/{{productCategory._id}}">{{productCategory.productCategoryName}}</a>
                {% else %}
              <li class="dropdown-submenu"><a class="dropdown-item"
                  href="/separateproductcategory/{{productCategory._id}}">{{productCategory.productCategoryName}}</a>
                {% endif %}
                {% endif %}
                {% if(productCategory.is_separateCategory == "true")%}
                {% if(productCategory.if_not_subproduct == "true")%}
                
                <ul class="dropdown-menu {{products}}{{productdetails}}">
                  {% for product in productData %}
                 
                  {% if (productCategory._id == product.product_id)%}
                  {% if(product.product_name == singleProductData.product_name)%}
                  <li><a class="dropdown-item {{productdetails}}"
                      href="/productDetails/{{product._id}}">{{product.product_name}}</a></li>
                  {% else %}
                  <li><a class="dropdown-item " href="/productDetails/{{product._id}}">{{product.product_name}}</a></li>
               
                  {% endif %}
                  {% endif %}
                  
                  {% endfor %}
                </ul>
                
      
                {% endif %}
                {% endif %}

                <!-- {% if(productCategory.is_separateCategory == "true")%}
                {% for product in productData %}
                  {% if (productCategory._id == product.product_id)%}
                <ul class="dropdown-menu {{products}}{{productdetails}}">                  
                  {% if(product.product_name == singleProductData.product_name)%}
                  <p>if</p>
                  <li><a class="dropdown-item {{productdetails}}"
                      href="/productDetails/{{product._id}}">{{product.product_name}}</a></li>
                  {% else %}
                  <p>else</p>
                  <li><a class="dropdown-item " href="/productDetails/{{product._id}}">{{product.product_name}}</a></li>
                  {% endif %}                  
                </ul>
                {% endif %}
                  {% endfor %}
                {% endif %} -->

              </li>
              {% endfor %}
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link {{application}}" href="/application">Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{project}}{{projectdetails}}" href="/project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{caseStudies}}" href="/caseStudies">Case studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{contact}}" href="/contact">Contact Us</a>
          </li>

        </ul>
        <script>
          // Add active class to the current button(highlight it)
          // var header = document.getElementById("myUL");
          // var btns = header.getElementsByClassName("nav-link");
          // for (var i = 0; i < btns.length; i++) {
          //   btns[i].addEventListener("click", function () {
          //     var current = document.getElementsByClassName("active");
          //     current[0].className = current[0].className.replace(" active", "");
          //     this.className += " active";
          //   });
          // }           

        </script>

        <div class="ml-auto header-social-icon">
          <ul>
            <li>
              <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fab fa-dribbble"></i></a>
            </li>
            <li>
              <div class="hidden-xs navbar-form navbar-right">
                <a href="#search" class="search-form-tigger" data-toggle="search-form"><i class="fa fa-search"
                    aria-hidden="true"></i></a>
              </div>
              <div class="search-form-wrapper">
                <form class="search-form" id="" action="">
                  <div class="input-group">
                    <input type="text" name="search" class="search form-control" placeholder="Search">
                    <span class="input-group-addon" id="basic-addon2">
                    </span>
                    <span class="input-group-addon search-close" id="basic-addon2">
                    </span>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>