<!-- {% extends "partition/layout.html" %}


{% block body %}


<!-- Main Content -->
<div class="page-wrapper">
	<div class="container-fluid">

		<!-- Title -->
		<section class="content-header">
			<h1>Project</h1>
			<!-- Breadcrumb -->
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				<li class="active">Project</li>
			</ol>
			<!-- /Breadcrumb -->
		</section>
		<!-- /Title -->
		{% include "partition/notification.html" %}
		<!-- Row -->
		<section class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<!-- <h6 class="panel-title txt-dark">Settings</h6> -->
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<div class="table-wrap">
									<div class="table-responsive">
										{% if project %}
										<form method="POST" action="/backend/projectEdit/{{project._id}}" class="form-horizontal" enctype="multipart/form-data">
										{% else %}
										<form method="POST" action="/backend/addProject" class="form-horizontal" enctype="multipart/form-data">
										{% endif %}
												<table border="0" class="table display  pb-30">
													<div class="col-sm-12">
														<div class="panel-wrapper collapse in">
															<div class="panel-body">
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="project_name">Project Name:</label>
																	<div class="col-sm-6">
																		<input type="text" class="form-control" name="project_name" id="project_name" value="{{project.project_name}}" />
																	</div>
																</div>


																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="project_image">Project cover pic:</label>
																	<div class="col-sm-6">
																		{% if project %}     

																		<input type="file" class="form-control" id="projectImage" name="projectImage" value="" >

																		<br><img src= "{{project.project_image}}" height="200px" width="200px" alt="">

																		{% else %}   
																		<input type="file" class="form-control" id="projectImage" required  name="projectImage" value="">

																		{% endif %} 	
																	</div>
																</div>
							
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="project_description">Project Description:</label>
																	<div class="col-sm-6">
																		<textarea class="form-control" name="project_description" id="project_description" rows="9" style="resize:none;">{{project.project_description}}</textarea>
																	</div>
																</div>

																<div class="form-group">
																		<label class="control-label mb-10 col-sm-2" for="projectCategoryName">Choose a category:</label>
																		
																			<select id="projectCategoryName" name="projectCategoryName">
																				{% for projectCategoryName in projectCategoryData %}	
																					<option value="{{projectCategoryName._id}}" {{"selected" if(projectCategoryName._id == project.project_id)}} >{{projectCategoryName.projectCategoryName}}</option>
																				{% endfor %}
																			</select>
																			
																	</form>
																</div>

															</div>
														</div>
													</div>
													<tr>
														<td colspan="2">
                             
															{% if project %}
															<input type="submit" class="btn btn-success btn-flat" value="Update">
                                                            {%else%} 
															<input type="submit" class="btn btn-success btn-flat" value="submit">
															{% endif %}
														</td>
													</tr>
												</table>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

					<!-- /Row -->
			</div>
	 	</section>

{% endblock %}

{% block Jscript %}


{% endblock %} -->
