{% extends "partition/layout.html" %}


{% block body %}


<!-- Main Content -->
<div class="page-wrapper">
	<div class="container-fluid">

		<!-- Title -->
		<section class="content-header">
			<h1>About Us</h1>
			<!-- Breadcrumb -->
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				<li class="active">About Us</li>
			</ol>
			<!-- /Breadcrumb -->
		</section>
		<!-- /Title -->
		{% include "partition/notification.html" %}
		<!-- Row -->
		<section class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<!-- <h6 class="panel-title txt-dark">Settings</h6> -->
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<div class="table-wrap">
									<div class="table-responsive">
										{% if about %}
										<form method="POST" action="/backend/editAboutData/{{about._id}}"
											class="form-horizontal" enctype="multipart/form-data">
											{% else %}
											<form method="POST" action="/backend/addAboutData" class="form-horizontal"
												enctype="multipart/form-data">
												{% endif %}
												<table border="0" class="table display  pb-30">
													<div class="col-sm-12">
														<div class="panel-wrapper collapse in">
															<div class="panel-body">
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="heading">Heading:</label>
																	<div class="col-sm-6">
																		<input type="text" class="form-control"
																			name="heading" id="heading"
																			value="{{about.heading}}" required />
																	</div>
																</div>

																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="introduction">Introduction:</label>
																	<div class="col-sm-6">
																		<textarea class="form-control"
																			name="introduction" id="introduction"
																			rows="9"
																			style="resize:none;" required>{{about.introduction}}</textarea>
																	</div>
																</div>

																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="ourFacts">Our Facts:</label>
																	<div class="col-sm-6">
																		<textarea class="form-control" name="ourFacts"
																			id="ourFacts" rows="9"
																			style="resize:none;"required>{{about.ourFacts}}</textarea>
																	</div>
																</div>
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="yearsExperience">Years Experience:</label>
																	<div class="col-sm-3">
																		<input type="number" class="form-control"
																			name="yearsExperience"
																			placeholder="Years Experience"
																			id="yearsExperience"
																			value="{{about.yearsExperience}}"required>
																	</div>
																</div>
																<!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="heading">Image:</label>
																	<div class="col-sm-6">
																		<input type="file" class="form-control" id="aboutimage" name="aboutimage" value="" >
																		
																	</div>
																</div> -->
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="yearlyProduction">Yearly
																		Production:</label>
																	<div class="col-sm-3">
																		<input type="number" class="form-control"
																			name="yearlyProduction"
																			placeholder="Yearly Production"
																			id="yearlyProduction"
																			value="{{about.yearlyProduction}}"required>
																	</div>
																</div>
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="clients">Clients:</label>
																	<div class="col-sm-3">
																		<input type="number" class="form-control"
																			name="clients"
																			placeholder="Years of Experience"
																			id="clients" value="{{about.clients}}"required>
																	</div>
																</div>
																<!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="yearsExperience">Years Experience:</label>
																	<div class="col-sm-6">
																		<textarea class="form-control" name="yearsExperience" id="yearsExperience" rows="1" style="resize:none;">{{about.yearsExperience}}</textarea>
																	</div>
																</div> -->

																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="ourValues">Our Values:</label>
																	<div class="col-sm-6">
																		<textarea class="form-control" name="ourValues"
																			id="ourValues" rows="9"
																			style="resize:none;"required>{{about.ourValues}}</textarea>
																	</div>
																</div>
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="ourMission">Our Mission:</label>
																	<div class="col-sm-6">
																		<textarea class="form-control" name="ourMission"
																			id="ourMission" rows="9"
																			style="resize:none;"required>{{about.ourMission}}</textarea>
																	</div>
																</div>
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2"
																		for="image">Image 1:</label>
																	<div class="col-sm-6">
																		{% if about %}

																		<input type="file" class="form-control"onchange="previewFile(this);"
																			id="aboutImage" name="aboutImage" value="">

																		<br><img id="previewImg"src="{{about.about_image}}" height="200px"
																			width="200px" alt=""required><span class='close1'>&times;</span>

																		{% else %}
																		<input type="file" class="form-control"onchange="previewFile(this);"
																			id="aboutImage"  name="aboutImage"
																			value=""> 

																		<br><img id="previewImg" src="{{about.about_image}}" height="200px"
																			width="200px" alt=""><span class='close1'>&times;</span>


																		{% endif %}
																		<!-- <br><img id="previewImg" style="width: 200px;height: 200px;" src="" > -->

																	</div>
																</div>
																<!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="name_1">Name:</label>
																	<div class="col-sm-6">
																		<input type="text" class="form-control" name="name_1" id="name_1" value="{{about.name_1}}" />
																	</div>
																</div>
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="role_1">Role:</label>
																	<div class="col-sm-6">
																		<input type="text" class="form-control" name="role_1" id="role_1" value="{{about.role_1}}" />
																	</div>
																</div>
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="description_1">Description:</label>
																	<div class="col-sm-6">
																		<textarea class="form-control" name="description_1" id="description_1" rows="9" style="resize:none;">{{about.des}}</textarea>
																	</div>
																</div> -->



																	</div>
																</div>
															</div>
															<tr>
																<td colspan="2">

																	{% if about %}
																	<input type="submit"
																		class="btn btn-success btn-flat" value="Update">
																	{%else%}
																	<input type="submit"
																		class="btn btn-success btn-flat" value="submit">
																	{% endif %}
																</td>
															</tr>
												</table>
											</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- /Row -->
			</div>
		</section>

		{% endblock %}

		{% block Jscript %}
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
	 function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];
 
        if(file){
            var reader = new FileReader();
 
            reader.onload = function(){
                $("#previewImg").attr("src", reader.result);
            }
 
            reader.readAsDataURL(file);
        }
    }
	$(".close1").click(function () {
            $('#previewImg').css({'display':'none'});
            $('.close1').css({'display':'none'});
            // modal1.style.display = "none";
        });
</script>

		{% endblock %}